html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;;
    background-blend-mode: normal, normal, screen, overlay, normal;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 50px;
}
